* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  color: purple;
  text-align: center;
  text-transform: capitalize;
}
.crimson {
  color: crimson;
  text-transform: uppercase;
}
p {
  color: #ee0808;
  text-align: center;
  font-size: small;
}
